.il-footer-social a[href*="twitter.com/"]::before {
    content: '';
    display: block;
    width: 28px;
    height: 25px;
    margin: 12px 0 0 6px;
    background-color: white;
    -webkit-mask-image: url(//contrib.webtheme.illinois.edu/ils-xtwitter/xtwitter.svg);
    mask-image: url(//contrib.webtheme.illinois.edu/ils-xtwitter/xtwitter.svg);
}

.il-footer-social a[href*="twitter.com/"]:hover::before, .il-footer-social a[href*="twitter.com/"]:focus::before {
    background-color: var(--il-orange);
}
