pre {
    font-family: monospace;
    font-size: 1rem;
    background: #ffffef;
    position: relative;
    display: block;
    margin: 2em 0 4em 0;
    max-width: 100%;
    overflow-x: auto;
    border: 1px solid black;
    padding: 10px 0;
}